*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: white;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    min-height: 100vh;

}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1536px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    background-color: #193b6d;
}


section {
    height: 100vh;
    scroll-snap-align: center;
}



@media (min-width: 640px) { 
    .container {
        max-width: 640px;
    }
}


@media (min-width: 768px) { 
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) { 
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) { 
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) { 
    .container {
        max-width: 1536px;
    }
}